.Logo-Container {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .login-bgimage{
    background: url("../../images/cool-background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }